* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
  font-size: 30px;
}

html {
  font-size: 10px;
}

.logout-link {
  text-align: right;
  font-size: 3rem;
  padding: 1rem;
  margin-right: 2rem;
  font-weight: 400;
}

.logout-link a {
  color: #ed553b;
  text-decoration: none;
}

.header {
  text-align: center;
  font-size: 4rem;
  color: #3caea3;
}

.current-date {
  text-align: center;
  color: #20639b;
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: 700;
}

.time {
  margin-top: 1rem;
  text-align: center;
  font-size: 5rem;
  color: #20639b; /* Text color */
}

.current-status {
  color: #ed553b;
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Text size */
  font-family: Arial, sans-serif; /* Font */
  margin: 0 auto;
  flex-direction: column;
  /* border: 4px solid gray; */
  background-color: #f6d55c;
}

.clock-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.clock-button button {
  padding: 16px;
  border-radius: 20px;
  font-size: 2rem;
  width: 10%;
  background-color: #173f5f;
  color: white;
}

.recent-punches {
  font-size: 3.5rem;
  margin: 2rem auto;
  color: #3caea3;
  text-align: center;
  margin-top: 4rem;
}

.date {
  color: #ed553b;
  margin-left: 5rem;
  font-size: 4rem;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  font-size: 2rem;
  margin: 4rem auto;
}

table thead tr th {
  background-color: #20639b;
  color: white;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 1rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  --bg-color: #ede9f8;
  background-color: var(--bg-color);
}

.login {
  --color-primary: #2d3436;
  --color-secondary: #252c6a;
  --border-radius: 4px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  border-radius: var(--border-radius);
  background: white;
}

.form--hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #ddd;
  outline: none;
  background: #eee;
  transition: background 0.2s border-color 0.2s;
}

#passwordInput {
  -webkit-text-security: disc;
  -moz-text-security: circle;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__input:focus {
  border-color: var(--color-primary);
  background: #fff;
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form__button:active {
  transform: scale(0.98);
}

.padding {
  padding-bottom: 10px;
}

.error {
  color: red;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
